 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    scroll-behavior: smooth; 
} 

body{
    background-color: grey;
}
.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #232323;
}

.navbarContainer {
    display: flex;
    height: 80px;
    width: 100%;
}

.navbarMenu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbarLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    height: 80px;   

}

.navbarLinks:hover {
    color: grey;
}

.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    background-color: grey;
    height: 80px;   

}

.navbarBtn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    /* right: -55%; */
}

.button{
    text-decoration: none;
    color: black;
    font-weight: 600;
    width: 150px;
    align-items: center;
    background-image: linear-gradient(45deg, white, grey, white);
    background-size: 200%;
    background-position: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.button:hover{
    background-position: right;
    border-color: transparent;
}

.headerContainer{
    background-color: black;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 100px 100px black;
}

.header{
    background-color: #232323;
    width: 1400px;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.headerContainer h1{
    color: white;
    font-size: 100px;
    background-image: linear-gradient(45deg, lightgreen 0%, lightblue 50%, lightgreen, lightblue 100%);
    background-size: 200%;
    animation: gradient 5s ease infinite; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    transition: 1s ease;
}

@keyframes gradient {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.chooseYour{    
    font-size: 20px;
}
.classHTP{
    margin-top: 200px;
}
.classHTP p{
    margin-top: 0;
    font-size: 80px;
    font-weight: 900;
}

.classHTPContainer{
    margin-top: 140px;
    background-color: #000913;
    width: 97%;
    height: 400px;
    box-shadow: 0 0 100px 200px #000913;
    z-index: 2;
    color: white;
}

.images img{
    height: 200px;
    width: 200px;
    margin: 10px;
}

.images_text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
  width: 500px;  
  margin: 40px;
}

.p1{
    font-weight: 100;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}

.gameInfo{
    background: linear-gradient(to bottom, lightblue 0%, white 20% 80%, lightgreen);
    width: 100%;
    height: 500px;
    box-shadow: 0 0 30px 100px lightblue;
    z-index: 99;
    margin-top: 300px;
}

.bottomBar{
    background-color: #131313;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomBarContentContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 90%;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.youtube::before{
    color: white;
    content: '\f167';
    font: var(--fa-font-brands);
    font-size: 50px;
    margin: 20px;
}

.twitter::before{
    color: white;
    content: '\f099';
    font: var(--fa-font-brands);
    font-size: 50px;
    margin: 20px;
}

.tiktok::before{
    color: white;
    content: '\e07b';
    font: var(--fa-font-brands);
    font-size: 50px;
    margin: 20px;
}

.instagram::before{
    color: white;
    content: '\f16d';
    font: var(--fa-font-brands);
    font-size: 50px;
    margin: 20px;
}

a{
    text-decoration: none;
}

.logoH1{
    color: white;
    font-size: 100px;
    background-image: linear-gradient(45deg, darkgrey, lightgrey);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 10px #232323;
}

.logo{
    background-color: #232323;
    box-shadow: 0 0 10px 10px #232323;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.spoiler{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin-top: 20px;
}

.classDescContainer{
    margin-top: 140px;
    background-color: #000913;
    width: 97%;
    height: 900px;
    box-shadow: 0 0 10px 100px #000913;
    z-index: 2;
    margin-bottom: 10px;
}

.mage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.warrior{
    display: flex;
    align-items: center;
    justify-content: center;
}

.archer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.classImages{
    width: 256px;
    height: 256px;
    margin: 10px;
}

.text2{
    width: 70%;
    color: white;
    height: 80%;
    font-size: 50px;
}

/* Game */

.contentContainer{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.player{
    background-image: url("Images/warriorImage.png");
    background-size: 25px;
}

.debug{
    background-color: green;
}

#grid{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 625px;
    height: 625px;
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
    background-image: url("Images/background.png");
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#grid div {
	width: 25px;
	height: 25px;
	border: 0px solid black;
}

.enemy1{
    background-image: url("Images/genericEnemy.png");
    background-size: 25px;
}

.enemy2{
    background-image: url("Images/genericEnemy2.png");
    background-size: 25px;
}

#healthBar{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: fixed;
    left: 71%;
    top: 95%;
}

#combat{
    width: 1100px;
    height: 600px;
    background: transparent;
    background-image: none;
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    z-index: 10;
}