 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    scroll-behavior: smooth; 
} 

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
    border-bottom: 1px solid #232323;

}

.navbarContainer {
    display: flex;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
}

.navbarMenu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbarItems{
    height: 80px;   
}

.navbarLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}

.navbarLinks:hover {
    color: grey;
}

.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    background-color: grey;
}

.navbarBtn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    position: relative;
    left: 30%;
}

.button{
    text-decoration: none;
    color: white;
    width: 150px;
    align-items: center;
    background-color: #5cc9da;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.button:hover{
    color: grey;
    background-color: #6ba7b0;
    border-color: white;
}

.headerContainer{
    background-color: black;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header{
    background-color: #232323;
    width: 1400px;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.headerContainer h1{
    color: white;
    font-size: 100px;
    background-image: linear-gradient(45deg, darkgrey, lightgrey);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
}


.chooseYour{    
    font-size: 20px;
}
.classHTP{
    margin-top: 20px;
}
.classHTP p{
    font-size: 70px;
}

.classHTPContainer{
    margin-top: 140px;
    margin-bottom: 140px;
    background-color: white;
    border: 1px solid black;
    width: 95%;
    height: 400px;
}

.classHTPContainer img{
    height: 100px;
    width: 100px;
}