*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.page {
    background: linear-gradient(45deg, lightgreen, lightblue);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px; 
}

.loginForm{ 
    background: white;
    border-radius: 5px;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
}

.loginForm h1 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0 ;
}

.loginForm p {
    font-size: 20px;
    margin: 15px;
}

.loginForm input{
    font-size: 16px;
    width: 90%;
    padding: 15px 10px;
    margin: 1px;
    border-width: 0 0 1px 0 ;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    outline: none;
}

.loginForm input:focus::placeholder{
    color: transparent;
}

.loginForm button {
    font-size: 18px;
    font-weight: bold;
    margin: 50px 10px 5px 0px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 5px 0 0 #000;
    transition: 0.1s ease;
}

.loginForm button:hover {
    translate: 0 5px;
    box-shadow: 0 0 ;
    transition: 0.1s ease;
    background: lightgrey;
}

.signUp{
    font-size: 11px;
    padding: 10px;
}

.signUp a {
    color: lightgrey;
    text-decoration: none;
}

.signUp a:hover{
    color: grey;
}