<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

    <title>NeemoF Pog Game</title>
</head>
<body>
    <nav class="navbar">
        <div class = "navbarContainer">
            <ul class="navbarMenu">
                <li class="navbarItems"><a href="/index" class="navbarLinks">Home</a></li>
                <li class="navbarItems"><a href="/howToPlay" class="selected">How To Play</a></li>
                <li class="navbarItems"><a href="/classDesc" class="navbarLinks">Class Descriptions</a></li>
                <li class="navbarItems"><a href="/leaderboards" class="navbarLinks">Leaderboards</a></li>
            </ul>
            <div class="navbarBtn">
                <a href="login.html" class="button" id="login">Login</a>
            </div>
        </div>
    </nav>

    <div class="headerContainer">
        <div class="header">
            <h1>How To Play</h1>
        </div>
    </div>

    <center><div class="classHTPContainer">
        <div class="classHTP">
            <i><span class="chooseYour">Choose Your</span>
            <p>Class</p></i>
        </div>
        <div class="images_text">
            <div class="text">
                <p class="p1">Pick your class from the options: Mage, Warrior, and Archer </p>
                <p class="p2">Find out more in the class description page</p>
            </div>
            <div class="images">
                <img src="static/Images/mageImage.png">
                <img src="static/Images/warriorImage.png">
                <img src="static/Images/archerImage.png">
            </div>
        </div>
    </div></center>

    <center><div class="gameInfo">
            <div class="classHTP">
                <p>Play the game</p></i>
            </div>
            <div class="text">
                <p>Move around the map</p>
                <p>Find enemies</p>
                <p>Enter combat and win fights!</p>
            </div>
        </div>
    </div></center>

    <div class="bottomBar">
        <div class="bottomBarContentContainer">
            <div class="socials">
                <a href="https://www.youtube.com/"><span title="YouTube" class="youtube"></span></a>  
                <a href="https://www.twitter.com/"><span title="Twitter" class="twitter"></span></a>
                <a href="https://www.tiktok.com/"><span title="TikTok" class="tiktok"></span></a>
                <a href="https://www.instagram.com/"><span title="Instagram" class="instagram"></span></a>            
            </div>
            <div class="logoContainer">
                <div class="logo">
                    <h1>Game Name</h1>
                </div>
            </div>
            <div class="spoiler">
                <p>This wepage was created as a coursework assignment. Please don't let me cry</p>
            </div>
        </div>
    </div>
</body>
</html>